<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                      <ng2-pdfjs-viewer pdfSrc="your pdf file path"></ng2-pdfjs-viewer>

                      <button (click)="openPdf();">Open Pdf</button>
                    
                        <ng2-pdfjs-viewer #pdfViewer style="width: 800px; height: 400px" 
                                        [pdfJsFolder]="'pdfjs'" 
                                        [externalWindow]="true" 
                                        [downloadFileName]="'mytestfile.pdf'"
                                        [openFile]="false" 
                                        [viewBookmark]="false" 
                                        [download]="false">
                        </ng2-pdfjs-viewer>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
